<%- include("./particals/header") -%>
<h1>Compose</h1>

<form class="blogPost" action="/compose" method="post">
  <div class="form-group form-check">
    <label>Title</label>
    <input type="text" class="form-control" name="HTMLblogTitle" size="80">

    <label>Post</label>
    <textarea name="HTMLblogText" class="form-control" rows="20" cols="80"></textarea>
  </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>





<%- include("particals/footer") -%>
